{% load blog_tags %}
{% load website_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test_page</title>
</head>

<body>
    <!-- {{posts}}

    {% for post in posts %}
        {% if post.status == 0 %}
            <p>not published yet</p>
        {% else %}
            <h1>{{post.title}}</h1>
            <p>{{post.content}}</p>
            <small>{{post.published_date}}</small>
        {% endif %}
    {% endfor %}
    /-->
    <!-- <h1>simple tamplate tags test</h1>
    <p>{% totalposts %}</p>
    <p>
        {% posts as totalposts_info %}
        {% for post in totalposts_info %}
            <p>{{post.content|snippet:50}}</p>
        {% endfor %}
    </p>
    {% for post in totalposts_info %}
        <p>{{post.title}}</p>
    {% endfor %}  -->
    <h2 style="text-align: center;">form-test</h2>

    <form action="{% url 'website:test' %}" method="post">
        {% csrf_token %}
        <!-- <label for="name">name:</label>
        <input name='name' type="text"><br>
        <label for="email">email:</label>
        <input name='email' type="email"><br>
        <label for="subject">subject:</label>
        <input name='subject' type="subject"><br>
        <label for="massage">massage:</label>
        <input name='massage' type="text"><br>
        <button type="submit">submit</button> -->
        {{form.as_p}}
        <button type="submit">submit</button>
    </form>
</body>

</html>